@media screen and (max-width:768px) {
   
    .heading_para_div{
        padding: 1rem 0;
    }
    .heading{
        font-size: 3.5rem;
        padding: 20px 0;
    }
    .head_para{
        font-size: 20px;
    }
    .register{
        padding: 10px 0;
    }
    .register_btn, .login_btn{
        font-size: 16px;
    }
}
@media screen and (max-width:430px) {
    .socialmedia{
        display: none;
    }
    .body_content{
        word-break: break-all;
    }
    .welcome_div{
        width: 80%;
    }
    .heading_para_div{
        padding: 20px;
        overflow: hidden;
    }
    .heading{
        width: 50%;
        height: 7vh;
        font-size: 2rem;
        padding: 20px 0;
    }
    .head_para{
        font-size: 16px;
    }
    .register{
        padding: 20px;
        font-size: 15px;
        flex-direction: column;
    }
    #register_button, .login_btn{
        font-size: 14px;
        margin:5px 0;
    }
}

@media screen and (max-width:300px) {
   .register{
    padding: 0;
   }
}