@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

.body_content{
    background: linear-gradient(to bottom left,rgba(0, 0, 0, 0.66), rgba(6, 10, 10, 0.63)), url("../../image/truck_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.welcome_div{
    width: 55%;
    margin: auto;
    padding: 4rem 0rem;
}
.heading_para_div{
    padding: 4rem 0;
    color: white;
}
.heading{
    font-size: 4rem;
    font-family: 'Joan', serif;
    text-align: center;
    padding: 30px 0 20px 0px;
    animation: charcount 12s infinite;
    text-shadow: 0 0 5px teal;
}
.head_para{
    font-size: 25px;
    text-align: center;
    padding: 30px 0 20px 0px;
    color: white;
}
.register{
    padding: 30px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#register_button{
    padding: 4px 10px;
    margin: 0px 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: yellow;
    border: 3px solid yellow;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
}
.login_btn{
    padding: 5px 20px;
    margin: 0px 20px;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    border: 3px solid yellow;
    background-color: yellow;
    cursor: pointer;
}
#register_button:hover {
    background-color: yellow;
    transition: 0.5s;
    color: black;
}
.login_btn:hover{
    background-color: transparent;
    color: yellow;
    transition: 0.5s;
}

 @keyframes charcount{
    0%{
        width: 1ch;
        height: 15vh;
        overflow: hidden;
        word-break: break-all;
    }
    20%{
        width: 4ch;
        height: 15vh;
        overflow: hidden;
        word-break: break-all;
    }
    40%{
            width: 7ch;
            height: 15vh;
            overflow: hidden;
            word-break: break-all;
    }
    60%{
            width: 10ch;
            height: 15vh;
            overflow: hidden;
            word-break: break-all;
    }
    80%{
        width: 23ch;
        height: 15vh;
        overflow: hidden;
        word-break: break-all;
    }
    100%{
        width: 16ch;
        height: 15vh;
        overflow: hidden;
        word-break: break-all;
    }
} 