@media screen and (max-width:1024px) {
    .form_section{
        width: 40%;
    }
}
@media screen and (max-width:768px) {
    .container{
        flex-direction: column;
    }
    .query{
        width: 70%;
        margin: auto;
        padding: 10px 0;
    }
    .query_title{
        font-size: 35px;
    }
    .requiremnt_title, .query_div_title, .suggestion_title{
        font-size: 20px;
    }
    .requirement_detail, .query_detail, .suggestion_detail{
        font-size: 15px;
    }
    .form_section{
        width: 70%;
        margin:20px auto;
    }
    .form_title{
        font-size: 22px;
    }
    .required_text{
        font-size: 15px;
    }
    .form .btn .submit_btn{
        padding: 4px 10px;
    }
}
@media screen and (max-width:450px) {
    .container{
        padding: 10px;
    }
    .query_title{
        font-size: 25px;
        padding: 0;
    }
    .query_requirement, .query_div, .suggestion{
        padding: 0 ;
        margin:  0;
    }
    .requiremnt_title, .query_div_title, .suggestion_title{
        font-size: 17px;
    }
    .requirement_detail, .query_detail, .suggestion_detail{
        text-align: justify;
        font-size: 13px;
    }
    .form_section{
        width: 90%;
    }
}
@media screen and (max-width:260px) {
    .container{
        word-break: break-all;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .query{
        padding: 0;
    }
    .form_section{
        padding: 0;
    }
  
}