<!DOCTYPE html>                             
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arl Expressways</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/bootstrap.bundle.js"></script>
</head>
<body>
    <header>
        <div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <nav>
            <ul class="d-flex">
                <li class="list-style-none">Home</li>
                <li class="list-style-none">About</li>
                <li class="list-style-none">Contact</li>
                <li class="list-style-none">Service</li>
            </ul>
        </nav>
    </header>
    <script src="../static/js/bootstrap.bundle.js"></script>
</body>
</html>