<!DOCTYPE html>                             
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arl Expressways</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="contact_info d-flex justify-content-between text-white ">
            <div>
                <span class="fontsize">
                    arlexpressways@gmail.com
                </span>
            </div>
            <div>
                <span class="fontsize">+91 9015884914</span>
                <span class="fontsize">+91 8744887282</span>
            </div>
            <div>
                <span class="fontsize">Follow Us On : </span>
            </div>
        </div>
        <nav class="bg-light">
            <ul class="nav-bar">
                <li class="nav-item"><a href="" class="nav-link"> Home</a></li>
                <li class="nav-item"><a href="" class="nav-link"> Service</a></li>
                <li class="nav-item"><a href="" class="nav-link"> About</a></li>
                <li class="nav-item"><a href="" class="nav-link"> Contact</a></li>
            </ul>
        </nav>
    </header>

</body>
</html>