*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.contact_info{
    background-color: teal;
}
.fontsize{
    font-size: 12px;
}
.nav-bar{
    display: flex;
}
.nav-item{
    list-style: none;
}