*{
    margin: 0;
    padding: 0;
}
/*-----------------------------------  Menu Section ----------------------- */
.nav-bar{
    background-color: #FF5733;
    color: white;
    padding: 21px;
    font-family: monospace;
    transition: 0.5s;
}
.nav-bar:hover{
    background-color: #ff3333;
}
.arl{
    font-size: 40px;
    font-family: fantasy;
    float: left;
    color: black;
    margin-left: 28px;
}
.expressway{
    font-family: cursive;
    padding-left: 17px; 
    color: white;
    float: left;
    margin-left: -15px;
    margin-top: 32px;
}
.menu-right{
    text-align: right;
    color: white;
}
#list_items{
    display: inline-block;
    margin: 5px;
    list-style: none;
    color: white;
}
#link{
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 25px;
    color: white;
    padding:20px;
}
#link:hover{
    color: #473BED  ;
}

span{
    margin: 0px 20px;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
@media only screen and (max-width: 935px)
{
    span
    {
        display: block;
    }
    ul li
    {
        display:block;
    }
    ul
    {
        display:none;
    } 
}

/* ----------------------------------------  Body Section  --------------------------------- */
#container{
	padding-top:10px;
    background-color: #d4d2d2;
}
#about_txt{
    background-image: url("..\\images\\about_image.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 100px;
    text-align: center;
    text-decoration: underline;
    color:#e1dd72;
    font-size: 60px;
    letter-spacing: 3px;
}


#description{
    text-align: center;
    padding-top: 25px;
	font-size:20px;
    font-family: sans-serif;
	letter-spacing:2px;
	line-height:35px;
}

#why_us_txt{
    background-color: #cfac00;
    padding: 20px;
}

#why_txt{
    display: flex;
    justify-content: center;
}
#why_us{
    text-align: center;
    text-decoration: underline;
    font-size: 45px;
}
#inner_div{
    columns: 4;
    padding: 30px;
    margin: 30px 0px;
}
#support{
    text-align: center;
    padding: 20px;
}
#support_text{
    letter-spacing: 2px;
    font-size:28px;
}
#support_para_txt{
    padding-top: 20px;
    letter-spacing: 2px;
    font-family: monospace;
    font-size: 18px;
}
#shipment{
    text-align: center;
    padding: 20px;
}
#shipment_txt{
    letter-spacing: 2px;
    font-size:28px;
}
#shipment_para_txt{
    padding-top: 20px;
    letter-spacing: 2px;
    font-family: monospace;
    font-size: 18px;
}
#handling{
    text-align: center;
    padding: 20px;
}
#handling_txt{
    letter-spacing: 2px;
    font-size:28px;
}
#handling_para_txt{
    padding-top: 20px;
    letter-spacing: 2px;
    font-family: monospace;
    font-size: 18px;
}
#delivery{
    text-align: center;
    padding: 20px;
}
#delivery_txt{
    letter-spacing: 2px;
    font-size:28px;
}
#delivery_para_txt{
    padding-top: 20px;
    letter-spacing: 2px;
    font-family: monospace;
    font-size: 18px;
}

@media(max-width:1125px){
    #inner_div{
        columns: 2;
    }
}
@media(max-width:770px){
    #inner_div{
        columns: 1;
    }
}
/* ----------------------------------------  Footer Section  --------------------------------- */
.footer-content{
    background: #1a1c1b;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 5px;
    transition: 0.8s;
}
.footer-content:hover{
    background-color: black;
}
#logo_name{
    color: white;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 12px 32px 12px 32px;
    margin: 0px 25px 8px 6px;
}
#arl-text{
    color: rgb(255 0 0);
    font-family: fantasy;
    padding-right: 60px;
    font-size: 40px;
}
#expressway-text{
    font-family: cursive;
    padding-left: 80px;
}


#about{
    color: rgb(0, 174, 255);
    padding-bottom: 25px;
    font-family:  -webkit-pictograph;
    text-decoration: underline #D9514EFF;
}
#about_text{
    font-family:cursive;
    color: r#e8e8e8}
#mail{
    color: rgb(0, 174, 255);
    padding-bottom: 25px;
    font-family:  -webkit-pictograph;
    text-decoration: underline #D9514EFF;
}
#email{
    font-family:cursive;
    font-weight: 20;
    color:#e8e8e8;
}
#contact{
    color: rgb(0, 174, 255);
    padding-bottom: 25px;
    font-family:  -webkit-pictograph;
    text-decoration: underline #D9514EFF;
}
#contact_num{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Dancing Script', cursive;
    color:#e8e8e8;
}
#copy_logo{
    margin: 6px 0px 0px 0px;
    padding: 3px 20px 0px 20px;
}
#copyright{
	color: white;
	font-family: monospace;
    font-size: 15px;
	text-align: center;
    border-top: 2px solid rgb(153, 148, 148);
}