
.body_content{
    background-color: aliceblue;
}
.about_image{
    width: 60%;
    margin: auto;
    padding: 20px 0;
}
.about{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_detail{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 30px;
    word-break: break-all;
}
.why_us_info{
    background-color: bisque;
    padding: 20px 0;
    word-break: break-all;
}
.why_us{
    text-align: center;
    text-decoration: underline;
    padding: 20px 0;
    font-family: 'Roboto Slab', serif;
}
.inner_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
}
.support, .shipment, .handling, .delivery{
    margin: 20px 0;
}
.support_para_txt, .shipment_para_txt, .handling_para_txt, .delivery_para_txt{
    padding: 20px;
}