@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.login-form{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(90deg,rgba(5, 255, 238, 0.336), rgba(183, 0, 255, 0.281)); */
    background: rgba(0, 0, 0, 0.509);
}
.form-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 5% auto;
    background-color: #fff;
    border-radius: 5px;
}
.continue_text{
    border-radius: 5px 5px 0 0;
    background-color: rgb(2, 123, 123);
    padding: 20px 0 5px 0;
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: white;
}
.login_form{
    width: 90%;
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 10px;
}
.user_div{
    margin-bottom: 20px;
}
.user, .pass{
    display: block;
    font-weight: bold;
}
.email_input_box, .pass_input_box{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
}
.forgetpasslink{
    display: block;
    padding: 10px 0;
    text-decoration: none;
    font-weight: bold;
    color: rgb(4, 155, 155);
}
.login-form_btn{
    display: block;
    width: 100%;
    padding: 5px 0;
    font-size: 17px;
    font-weight: bold;
    border: none;
    background: linear-gradient(90deg,rgb(5, 255, 238),rgb(183, 0, 255));
    cursor: pointer;
}
.member_text{
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
}
.link{
    color: blue;
}
.close_div{
    text-align: right;
}
.closebutton{
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    margin-right: 10px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
body.loginactive .login-form{
    display: block;
}