*{
    margin: 0;
    padding: 0;
}
.contact-info{
    background-color: teal;
}
.logo-image{
    height: inherit;
    width: inherit;
}
header div nav li{
    list-style: none;
}
header div nav li a{
    text-decoration: none;
}